
body {
    background-color: var(--clr-background);
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: 
    "header main"
    "footer main"
    ;
    height: 100vh;
    color: var(--clr-text);

    /* overflow: hidden; */

}

header {
    grid-area: header;
    height: 100vh;
    padding: 3em 2em;
    border-right: 1px solid var(--clr-text);


    & nav {
        & ul {
            list-style: none;
            width: 100%;
            margin-top: 3em;
        }
        
        & li {

            background-color: var(--clr-primary);
            border-radius: var(--sec-radius);
            margin-bottom: 1em;
            display: flex;
            overflow: hidden;
        
            &:hover {
                filter: var(--btn-hover);
            }
        
            &:active {
                filter: var(--btn-active);
            }
            &:last-child {
                margin: 3em 0 0 0;
                position: relative;
            }

            & a {
                text-decoration: none;
                text-transform: uppercase;
                padding: 0 .75em;
                align-self: center;
                color: var(--clr-background);

                font-weight: 100;
            }
        }

        & .icon {
            background-color: var(--clr-background);
            padding: .5em 1em;
            height: 100%;
            border: 3px solid var(--clr-primary);
            border-radius: var(--sec-radius);
        
            & img {
                display: block;
                width: 25px;
                height: 25px;
            }  
        }

        & .meer {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-color: var(--clr-background);
                width: 40px;
                height: 50%;
                bottom: 0;
                right: 0;
            
                border: 3px solid var(--clr-primary);
                border-radius: 7px;
                
            }
        
            &::after {
                content: '';
                position: absolute;
                right: .8em;
                bottom: .5em;
                width: 0;
                height: 0;
                border-left: .5em solid transparent;
                border-right: .5em solid transparent;
                border-top: .5em solid var(--clr-primary);
                border-radius: 1000px;
                clear: both;
            }
        }
    }
}

main {
    /* background-color: coral; */
    grid-area: main;
    width: 100%;
    padding: 3em 2em;
    overflow: scroll;
    /* scroll-behavior: smooth; */
    height: 100vh;

    & .profile {
        display: flex;
        gap: 1em;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap-reverse;
        width: 50%;

        & .profile_foto {
            overflow: hidden;
            border-radius: var(--btn-radius);
            background-image: url('assets/images/profile_pic.jpg');
            background-size: contain;
            background-color: #519879;
            width: 10em;
            height: 10em;
            align-self: center;
            position: relative;
        }

        & .icon-bewerken {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px; 
            display: grid;
            grid-auto-columns:min-content;
            place-content:center;
            /* padding: .5em; */
            background-color: #AD97C9;
            border-radius: var(--btn-radius);

            & img {
                justify-self: center;
                width: 25px;
            }
        }
    }
}

footer {
    /* background-color: goldenrod; */
    grid-area: footer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20%;
    padding: 2.5em;
    text-align: center;

    & ul{
        list-style: none;
        margin-bottom: .5em;
    }

    & li {
        display: inline-block;
        margin:  0 .5em;

        & a {
            text-decoration: none;
            text-transform: uppercase;
            color: var(--clr-text);

            &:hover {
                color: var(--clr-primary);
                text-decoration: underline;
            }
        }
    }
}

.hand-foot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;

    & section {
        /* background-color: var(--clr-secondary); */
        height: 30em;
        border-radius: var(--sec-radius);
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1em;
        width: 100%;
    }

    & article {
        background-color: var(--clr-accent);
        border-radius: var(--sec-radius);
        
        display: grid;
        place-content:center;
        text-align:center;
        color: var(--clr-background);


        & h2 {
            color: var(--clr-background);
            font-size: 5em;

            & span {
                font-family: 'Hammersmith One', sans-serif;
            }
        }

        & img {
            align-self: center;
            margin: auto;
            height: 7em;
        }
    }

    & .handprint article{
        background-color: var(--clr-secondary);
        border-radius: var(--sec-radius);
    }

    & .footprint .leaderboard div:nth-of-type(2) span{
        color: var(--clr-accent);
    }

    & .leaderboard {

        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        min-width: 10em;
        gap: 1em;
    
        & article {
            /* background-color: var(--clr-primary); */
    
            width: 100%;
            height: 100%;
            position: relative;
            padding: .5em;
            margin: 0;
            display: block;

            & div:nth-of-type(1) {
                width: 100%;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                gap: .8em;

                & h4 {
                    font-size: 2em;
                    margin: 0;
                }

                & strong {
                    font-family: 'Hammersmith One', sans-serif;
                }

                & img {
                    height: 3em;
                    max-width: 3em;
                    justify-self: start;
                    padding: 0;
                    margin: 0;
                }
            }

            & div:nth-of-type(2) {
                display: flex;
                /* position: absolute; */
                width: 100%;
                height: 30%;

                & span {
                    
                    padding: .2em .7em;
                    background-color: var(--clr-background);
                    border-radius: var(--sec-radius);
                    text-align: center;
                    gap: .5em;
                    font-weight: var(--fat);
        
                    color: var(--clr-secondary);  
                    
                    display: grid;
                    grid-auto-columns:min-content;  
                    place-content:center;
                    text-align:center;
                    font-size: 1.2em;
        
                    &:nth-of-type(2) {
                    width: 100%;
                    gap: .5em;

                    margin-left: 4px;

                    text-transform: uppercase;
                    font-weight: 300;
                    font-size: .9em;    
                    }
                }

            }
        }
    }
}

/* BREAKDOWN */

.breakdown {
    & .progress-bar {
        & span {
            display: block;
            background-color: var(--clr-primary);
            height: 100%;
        }

        & .primary {
            background-color: var(--clr-primary);
        }
        
        & .medewerkers {
            background-color: var(--clr-medewerkers);
        }
        
        & .financiers {
            background-color: var(--clr-financiers);
        }
        & .leveranciers {
            background-color: var(--clr-leveranciers);
        }
        & .klanten {
            background-color: var(--clr-klanten);
        }
        & .omgeving {
            background-color: var(--clr-omgeving);
        }
    }
}


.breakdown_blocks {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    justify-content: space-between;
    flex-wrap: inherit;
    gap: 1em;

    & section {
        margin: 1em 0;
    }

    & article{
        height: 100px;
        /* background-color: #519879; */
        border-radius: var(--sec-radius);
        color: var(--clr-background);
        width: 15em;
        height: 8em;
        margin-bottom: 1em;
        padding: .5em;

        & div:nth-of-type(1) {
            width: 100%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            gap: .8em;

            & h4 {
                font-size: 2em;
                margin: 0;
            }

            & strong {
                font-family: 'Hammersmith One', sans-serif;
            }

            & img {
                height: 3em;
                width: 3em;
                justify-self: start;
                padding: 0;
                margin: 0;
            }
        }

        & div:nth-of-type(2) {
            width: 100%;
            height: 30%;

            & span {
                
                padding: .2em .7em;
                height: 100%;
                background-color: var(--clr-background);
                border-radius: var(--sec-radius);
                text-align: center;
                
                display: grid;
                grid-auto-columns:min-content;  
                place-content:center;
                text-align:center;
                font-size: 1em; 
                color: var(--clr-primary); 
                font-weight: 300;  
                text-transform: uppercase;
                

            }
        }

        &:nth-of-type(2) {

            & div:nth-of-type(2) {
                & span {
                    color: var(--clr-medewerkers);
                }
            }
        }

        &:nth-of-type(3) {

            & div:nth-of-type(2) {
                & span {
                    color: var(--clr-financiers);
                }
            }
        }

        &:nth-of-type(4) {

            & div:nth-of-type(2) {
                & span {
                    color: var(--clr-leveranciers);
                }
            }
        }

        &:nth-of-type(5) {

            & div:nth-of-type(2) {
                & span {
                    color: var(--clr-klanten);
                }
            }
        }

        &:nth-of-type(6) {

            & div:nth-of-type(2) {
                & span {
                    color: var(--clr-omgeving);
                }
            }
        }        
    }
}

@media screen and (max-width:1200px) {
    main {

        & .profile {
            width: 100%;
        }
    }

    .breakdown_blocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
    
        & article{    
            width: 100%;
        }
    }

    .hand-foot {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
    
        & section {
            /* background-color: var(--clr-secondary); */
            height: 30em;
            border-radius: var(--sec-radius);
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            gap: 1em;
            width: 100%;
        }
    
        & .leaderboard {
    
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 1em;
        }
    }
}

@media screen and (max-width:854px) {
    body {
        grid-template-columns: 100%;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer"
        ;
        height: fit-content;
        width: 100%;
        /* background-color: #5e6d1c; */
    }

    header {
        background-color: var(--clr-primary);
        width: 100%;
        height: 10vh;
        position: fixed;
        border-right: none;
        border-bottom: 1px solid var(--clr-background);
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: flex;
        z-index: 1;
        justify-content: space-between;
        align-content: center;


        & h1 {
            font-size: 1.5em;
        }
    }
    main {
        margin-top: 10vh;
        padding-top: 2em;
        overflow: hidden;
        height: fit-content;
    }



    footer {
        /* display: block; */
        position: unset;
        bottom: 0;
        width: 100%;

    }
}

@media screen and (max-width:600px) {
    body {
        grid-template-columns: 100%;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer"
        ;
        height: fit-content;
        width: 100%;
    }

    header {
        width: 100%;
        height: 10vh;
        position: fixed;
        border-right: none;
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: flex;
        z-index: 1;
        justify-content: space-between;
        align-content: center;


        & h1 {
            font-size: 1.5em;
        }
    }

    main {
        margin-top: 10vh;
        padding-top: 2em;
        overflow: hidden;
        height: fit-content;

        & .profile {
            width: 100%;
    
            & .profile_foto {
                border-radius: var(--sec-radius);
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 12em;
            }
        }
    }

    button {
        width: 100%;
        height: 3em;
    }
    .hand-foot {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;


    
        & section {
            /* background-color: var(--clr-secondary); */
            height: 30em;
            border-radius: var(--sec-radius);
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            gap: .5em;
            width: 100%;
        }
    
        & .leaderboard {
    
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: .5em;
        
        }
    }

    footer {
        /* display: block; */
        position: unset;
        bottom: 0;
        width: 100%;

    }

    hr {
        width: 200%;
        margin: 2em -2em;
    }
}