/* FONTS */
@font-face {
    font-family: "Halton";
    src: url(assets/fonts/Halton/Halton\ regular.otf) format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Halton";
    src: url(assets/fonts/Halton/Halton\ regular-italic.otf) format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Halton";
    src: url(assets/fonts/Halton/Halton\ bold.otf) format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Halton";
    src: url(assets/fonts/Halton/Halton\ bold-italic.otf) format("opentype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Halton";
    src: url(assets/fonts/Halton/Halton\ light.otf) format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Halton";
    src: url(assets/fonts/Halton/Halton\ light-italic.otf) format("opentype");
    font-weight: 100;
    font-style: italic;
}

:root {
    /* COLOUR */
    --clr-primary: #AD97C9;
    --clr-background: #272932;
    --clr-text: #ecf8f8;
    --clr-secondary: #519879;
    --clr-accent: #fb8b24; 
    
    /* COLOUR BREAKDOWN */

    --clr-medewerkers: #97BAC9;
    --clr-financiers: #C2C997;
    --clr-leveranciers: #C99797;
    --clr-klanten: #97C9A2;
    --clr-omgeving: #C997BB;
    
    /* RADIUS */
    --btn-radius: 1000px;
    --sec-radius:.25em;

    /*TYPOGRAPHY*/
    --thin: 400; /* Halton-italic */
    --chubby: 600 ; /* Halton-regular */
    --fat: 800; /* Halton-bold */

      /* BUTTON */
    --btn-hover: brightness(120%);
    --btn-active: brightness(80%);

  /* FORMS */
    --forms-focus: 3px solid var(--clr-primary);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Halton', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--clr-background);
    /* display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header main"
    "footer main"
    ; */
    height: 100vh;
    color: var(--clr-text);
    overflow-wrap: break-word;
    /* overflow: hidden; */

}

h1 {
    font-size: 2.3em;
    text-transform: uppercase;
    font-family: 'Halton', sans-serif;
    text-decoration: none;
    color: var(--clr-primary);
}

a {
    text-decoration: none;
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5em;
}

h4 {
    text-transform: uppercase;
}

i {
    font-weight: 100;
    font-style: italic;
    margin: 1em 0;


}

hr {
    border: 0.5px solid var(--clr-text);
    margin: 2em 0;
}

/* BUTTON */  
.button {
    margin: 2em 0.5em;
    padding: 0.75em 2em;
    font-size: .7em;
    text-transform: uppercase;
    border-radius: var(--btn-radius);
    border-style: none;
    color: var(--clr-background);
    background-color: var(--clr-primary);
    cursor: pointer;
    grid-area: b;
    transition: all 0.3s ease-in-out;

    &:hover {
        filter: var(--btn-hover);
    }

    &:active{
        filter: var(--btn-active);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 50%;
    }

    &:disabled:hover {
        filter: none;
    }


    &.destructive {
        background-color: var(--clr-accent);  
    }

    &.recommended {
        background-color: var(--clr-secondary);  
    }

    &.minor {
        background-color: transparent;
        color: var(--clr-secondary);

        &:hover {
        text-decoration: underline;
        }
    }

    &.annuleer {
        background-color: transparent;
        color: var(--clr-text);
        font-size: 1em;
        padding: 0;
        text-transform: none;
        display: flex;

        &::after {
            content: url(assets/icons/x.svg);
            padding: 0 0  0 1em;
        }

        &:hover {
            text-decoration: underline;
        }  
    }


    &.buttons p:first-child {
        margin: 0;
        padding: 0;
    }
}

/* PROGRESS BAR */
.progress-bar {
    background-color: var(--clr-accent);
    width: 100%;
    height: 1em;
    border-radius: 1000px;
    overflow: hidden;
    margin: 1em 0;

    display: flex;

}

.progress-bar span {
    display: block;
    background-color: var(--clr-secondary);
    height: 100%;
}



.primary {
    background-color: var(--clr-primary);
}

.medewerkers {
    background-color: var(--clr-medewerkers);
}

.financiers {
    background-color: var(--clr-financiers);
}
.leveranciers {
    background-color: var(--clr-leveranciers);
}
.klanten {
    background-color: var(--clr-klanten);
}
.omgeving {
    background-color: var(--clr-omgeving);
}

.visibility {
    visibility: hidden;
}

@media screen {
    
}