

header {
    width: 80%;
    /* background-color: rebeccapurple; */
    margin:auto;
    position: sticky;
    top: 0;
    padding: 3em 0 1em 0;

    z-index: 1;

    background-color: var(--clr-background);

    left: 0;
    right: 0;
    & section {
        display: flex;
        justify-content: space-between;

        & section {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            gap: 1em;

            & p {
                font-weight: bold;
            } 
        }
    }
}




main {
    width: 80%;
    /* background-color: hotpink; */
    
    margin:auto;
    text-align: center;
    align-items: center; 

    scroll-behavior: smooth;
    
    & fieldset {
        width: 100%;
        margin: 0em auto;
        padding-bottom: 10em;
        border: none;


        & legend {
            max-width: 30em;
            font-size: 1.5em;
            font-weight: bold;
            
        }
    
        & section:nth-of-type(1) {
            width: 80%;
            margin: 1em auto;

            justify-self: center;

            & .checkboxes {
                margin: 1em 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: .5em;
            }

            & label {
                cursor: pointer;
                position: relative;
                
                display: block;
                position: relative;
                border-radius: var(--sec-radius);

                transition-duration: 0.2s;
                transform-origin: 50% 50%;


            }

            & img {
                max-width: 7em;
                border-radius: var(--sec-radius);

                &:hover {
                    filter: var(--btn-hover);
                }

                &:active {
                    filter: var(--btn-active);
                }


            }

            & input {
                display: none;

                &:checked + img {
                    padding: .5em;
                    border: 3px solid var(--clr-primary);
                    border-radius: var(--sec-radius);
                }

                &:disabled + img{
                    opacity: 50%;
                }
                &:disabled + img:hover{
                    cursor: not-allowed;
                    filter: none;
                }
            }
        }

        & section:nth-of-type(2) {
            display: flex;
            justify-content: space-between;
        }
    }
}

.q-icon {
    display: inline-block;
    background-color: var(--clr-primary);
    padding: .5em 1em;
    /* height: 100%; */
    border: 3px solid var(--clr-primary);
    border-radius: var(--sec-radius);
    
    & img {
        display: block;
        width: 25px;
        height: 25px;
        color: var(--clr-background);
    }  
}

.positive {
    color: var(--clr-secondary);
}

footer {
    background-color: var(--clr-background);
    position: fixed;
    width: 80%;
    /* height: 20px; */
    bottom: 0;
    margin: auto;
    padding: 2em 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;

    & section {
        align-items: center;
        display: grid;

        & .q-icon {
            align-self: center;
            margin: auto;
        }
    }


}








